@model StoreFront.Data.EF.Models.Manufacturer

@*<h4>Manufacturer</h4>
<hr />*@
<div class="row">
    <div class="col-md-4 mx-4" align="center">
        <form asp-action="ManufacturerCreate" method="post" id="ManufacturerCreateForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="ManufacturerName" class="control-label"></label>*@
                <input asp-for="ManufacturerName" class="form-control" placeholder="Manufacturer Name" />
                <span asp-validation-for="ManufacturerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ManufacturerCity" class="control-label"></label>*@
                <input asp-for="ManufacturerCity" class="form-control" placeholder="Manufacturer City" />
                <span asp-validation-for="ManufacturerCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ManufacturerState" class="control-label"></label>*@
                <input asp-for="ManufacturerState" class="form-control" placeholder="Manufacturer State" />
                <span asp-validation-for="ManufacturerState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
